* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 25px auto;
  width: 80%;
  max-width: 1440px;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 90%;
}

input {
  width: 95%;
  padding: 5px;
}
button {
  flex-basis: 8%;
  padding: 5px 10px;
}

label {
  flex-basis: 15%;
  margin-bottom: 10px;
}

.error {
  font-weight: 600;
  color: #fd0303;
}